body {
    text-align: center;
    background: linear-gradient(90deg, rgb(9, 9, 9) 0%, rgb(139, 102, 241) 100%);
    color: white;
    position: relative;
    font-family: 'Itim', cursive;
    font-size: 24px;
}